body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.button {
    margin-top: 150px;
	text-align: center;
}

.verify_button {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: #00FF80;
	border-radius: 10px;
	color: #fffff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: #99FFCC;
}

.usercard {
	text-align: center;
}
















