body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.button {
    margin-top: 150px;

}

.verify_button {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: #00FF80;
	border-radius: 10px;
	color: #fffff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: #99FFCC;
}

.usercard {
	text-align: center;
}

.verification-container {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
}

.verification-circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #66FF66;
  animation: pulse 2s infinite;
}

.verification-checkmark {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 40%;
  height: 20%;
  border: 4px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  animation: drawCheckmark 1s 1s forwards;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes drawCheckmark {
  0% {
    opacity: 0;
    transform: rotate(-45deg) scale(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
  }
}


.box{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}











